.label-expedition {
  margin-left: 20px;
}

.position-relative {
  position: relative;
  left: 25%;
}

.price-total {
  color: #2bbcd6;
  display: flex;
  text-align: left;
  position: relative;
  top: 10%;
  left: 35%;
}
