.cards-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-product {
  margin: 10px 10px;
  flex: 1 0 20%;
  max-width: 30%;
  height: 700px;
  width: 250px;
}

.pos {
  display: flex;
  position: absolute;
  left: 30%;
  bottom: 1%;
}

.font-size-title {
  font-size: 18px !important;
}
